.text-field{
  border : none;
}

.search-results-container {
  position: fixed;
  color: #F7DADA;
  border-radius: 10px;
  background: rgb(196,27,27);
  background: linear-gradient(90deg, rgba(196,27,27,1) 35%, rgba(255,0,114,1) 100%);
}

.search-results-container.var {
  display : inline-block;
}

.search-results-container.yok {
  display : none;
}

.search-results-container a {
  padding: 12px 16px;
  color: #F7DADA;
  text-decoration: none;
  display: block;
  padding: 10;
  /* background-color: red; */
  padding: 10;
}

.search-results-container p {
  padding: 12px 16px;
  color: #F7DADA;
  text-decoration: none;
  /* background-color: red; */
  display: block;
  margin :0;
}

.search-results-container h4{
  color: #3A0014;
  margin: 10px;

}