.card-css >:last-child {
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    /* background-color: rgb(39, 39, 39); */
    background-color: white;
    border-bottom: 5px solid #bd2727;
}

/* .match-page article, .match-page aside, .match-page details, .match-page figcaption, .match-page figure, .match-page footer, .match-page header, .match-page hgroup, .match-page menu, .match-page nav, .match-page section {
    display: block;
} */

/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

.container {
    /* color: white; */
    color: black;
    width: 100%;
}

/* body * {
    font-family: "Rubik",system,Arial,sans-serif;
    box-sizing: border-box;
    color: white;
} */

.intersection-wrapper {
    --MFHeader-droppedDown: 0;
}

.intersection-wrapper1 {
    --MFHeader-droppedDown: 1;
}

/* .intersection-element {
    position: absolute;
    height: 10px;
    width: 100%;
} */

.full-screen-css {
    position: relative;
}

.grid-container {
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(200, 200, 200, 1);
    display: grid;
    grid-template-columns: 200px auto 200px;
    -webkit-box-align: center;
    align-items: center;
}

/* body {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
} */

.back-button-apply-hover {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 20px;
}

.back-button-apply-hover:hover {
    opacity: 0.4;
}

.back-button-apply-hover span {
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.13px;
    margin-left: 15px;
    font-size: 13px;
    text-transform: uppercase;
}

.match-page span {
    line-height: 1.08;
    /* color: white; */
    color: black;
}

a, button {
    -webkit-text-decoration: none;
    text-decoration: none;
    /* color: white; */
    color: black;
    outline: none;
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
}

input:is([type="button"], [type="submit"], [type="reset"]), input[type="file"]::file-selector-button, button {
    text-align: center;
}

.match-page input, .match-page textarea, .match-page select, .match-page button {
    margin-top: 0em;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    /* font-family: system-ui; */
    font-variant-caps: normal;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

input, textarea, select, button, meter, progress {
    writing-mode: horizontal-tb;
}

button {
    appearance: button;
}

svg {
    width: 19.002px;
    height: 19.002px;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow-x: hidden;
    overflow-y: hidden;
}

svg#lineup_1_214x118 {
    width: 276px;
    height: 154px;
}

.header-league-css {
    height: 60px;
    /* border-bottom-width: ;
    border-bottom-style: ;
    border-bottom-color: ; */
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.header-league-css [class*="league-icon"] {
    margin-right: 12px;
}

.league-icon-container {
    width: 20px;
    height: 20px;
}

img.Image {
    width: 20px;
    aspect-ratio: auto 20 / 20;
    height: 20px;
}

.league-name {
    margin-right: 5px;
}

.right-grid-item {
    margin-right: 20px;
}

.drop-down-header {
    width: 1280px;
    /* width: 100%; */
    position: fixed;
    z-index: 19;
    /* background-color: rgb(39, 39, 39); */
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    top: calc((var(--MFHeader-droppedDown) * -1 + 1) * -150px);
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: top;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.header-full-screen-section {
    min-height: 100px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.header-full-screen-header {
    width: 100%;
    height: 100px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.team-markup-apply-hover {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.team-markup-apply-hover1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.team-markup-apply-hover:hover, .team-markup-apply-hover1:hover {
    opacity: 0.4;
}

.team-markup-apply-hover [class*="teamName"] span:first-of-type {
    font-size: 16px;
    font-weight: 800;
}

.team-markup-apply-hover1 [class*="teamName"] span:first-of-type {
    font-size: 16px;
    font-weight: 800;
}

.team-markup-apply-hover [class*="teamName"] span {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: right;
    width: 200px;
}

.team-markup-apply-hover1 [class*="teamName"] span {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: left;
    width: 200px;
}

.team-markup-apply-hover [class*="team-icon"] {
    margin-left: 20px;
}

.team-markup-apply-hover1 [class*="team-icon"] {
    margin-right: 20px;
}

img.Image.team-icon {
    width: 50px;
    aspect-ratio: auto 50 / 50;
    height: 50px;
}

.header-full-screen-header > div {
    min-width: 75px;
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 60px;
}

.css-match-info-wrapper {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-match-info-topRow {
    white-space: nowrap;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.css-match-info-bottomRow {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: rgba(159, 159, 159, 1);
}

.goal-container-apply-hover {
    display: grid;
    grid-template-columns: 1fr 75px 1fr;
    row-gap: 60px;
    column-gap: 60px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 24px;
    padding-left: 15px;
}

.goal-container-apply-hover ul:first-of-type {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.goal-container-apply-hover ul:last-of-type {
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-inline-start: 0px;
}

.goal-container-apply-hover ul {
    display: flex;
    flex-wrap: wrap;
}

ol, ul {
    list-style: none;
}

ul, menu, dir {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.goal-container-apply-hover li {
    /* margin-right: 5px; */
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.13px;
}

li {
    display: list-item;
    text-align: match-parent;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    text-transform: none;
}

.goal-container-apply-hover a:hover {
    opacity: 0.4;
}

.goal-container-apply-hover li a > span:first-of-type {
    margin-right: 5px;
}

.goal-container-apply-hover li span {
    color: rgba(159, 159, 159, 1);
}

.event-time {
    font-weight: 800;
}

.goal-container-apply-hover svg {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: auto;
    grid-column-end: auto;
    align-self: center;
    justify-self: center;

    width: 13px;
    height: 12px;
}

:not(svg), :not(foreignObject) > svg {
    transform-origin-x: 0px;
    transform-origin-y: 0px;
    transform-box: view-box;
}

.header-info-box-css {
    height: 60px;
    border-top-width: 1px;
    border-top-style: solid;
    /* border-top-color: rgb(51, 51, 51); */
    border-top-color: rgba(200, 200, 200, 0.5);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.13px;
    color: rgba(159, 159, 159, 1);
}

.header-info-box-css span {
    color: rgba(159, 159, 159, 1);
}

#referee-name-match-info {
    /* color: white; */
    color: black;
    font-weight: 800;
}

.info-box-data {
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.info-box-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(159, 159, 159, 1);
}

.info-box-item svg, .info-box-item img {
    width: 17px;
    height: 17px;
    margin-right: 12px;
    margin-left: 20px;
}

.info-box-item * {
    color: rgba(159, 159, 159, 1);
}

.venue-css {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.info-box-wrapper-applyHover a:hover {
    opacity: 0.4;
}

.events-container {
    padding-top: 15px;
    padding-right: 20px;
}

.event-item-container {
    height: 48px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 13px;
    -webkit-box-align: center;
    align-items: center;
}

.event-list li:not(:last-child) {
    margin-bottom: 15px;
}

.event-meat-applyHover-right {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: auto;
    grid-column-end: auto;
    grid-template-columns: minmax(22px, max-content) 1fr;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 13px;
}

.event-meat-applyHover-left {
    justify-self: flex-end;
    grid-template-columns: 1fr minmax(22px, max-content);
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 13px;
}

.event-meat-applyHover-left > * {
    text-align: right;
}

.event-meat-applyHover-left a:hover {
    opacity: 0.4;
}

.event-meat-applyHover-right a:hover {
    opacity: 0.4;
}

.events-event-time {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* background-color: rgba(51, 51, 51, 1); */
    background-color: rgba(200, 200, 200, 0.5);
    height: 30px;
    font-size: 15px;
    font-weight: 800;
    line-height: 1.2;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: auto;
    grid-column-end: auto;
}

.events img {
    width: 25px;
    height: 25px;
}

.pause-container {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: auto;
    grid-column-end: auto;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.pause-container > img {
    width: 36px;
    height: 36px;
}

.pause-container span {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.goal-container-player-layout-common {
    display: grid;
    /* row-gap: 5px; */
    row-gap: 0;
}

.goal-container-player-layout-common span > a:first-of-type {
    font-size: 15px;
    margin-right: 5px;
}

.scorer > a:first-of-type {
    margin-right: 5px;
}

.goal-str {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.23px;
    white-space: nowrap;
}

.goal-container-player-layout-common .event-score__highlighted {
    color: rgba(0, 152 , 95, 1);
}

.penalty, .assist > a {
    line-height: 1.21;
    letter-spacing: 0.21px;
    /* color: rgb(113, 113, 113); */
    /* color: white; */
    color: black;
}

.substitution-container-player-layout-common-left, .substitution-container-player-layout-common-right {
    display: grid;
    row-gap: 5px;
}

.substitution-container-player-layout-common-left > a:first-of-type {
    color: rgba(0, 152 , 95, 1);
}

.substitution-container-player-layout-common-right > a:first-of-type {
    color: rgba(0, 152 , 95, 1);
}

.substitution-container-player-layout-common-right div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    row-gap: 5px;
    column-gap: 5px;
}

.substitution-container-player-layout-common-left div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-self: flex-end;
    row-gap: 5px;
    column-gap: 5px;
}

.substitution-container-player-layout-common-right div a {
    color: rgba(229, 94, 91, 1.0);
}

.substitution-container-player-layout-common-left div a {
    color: rgba(229, 94, 91, 1.0);
}

.goal-description-and-assist {
    display: flex;
    row-gap: 4px;
    column-gap: 4px;
}

.expandable-card-container-style {
    padding-bottom: 20px;
}

.expandable-card-container-style > * {
    padding-left: 20px;
    padding-right: 20px;
}

.lineup-title-container-items-container-style {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    align-items: center;
}

.lineup-container-item-container-style-applyMediumHover-left {
    display: flex;
    flex-direction: row;
    flex-basis: 325px;
    order: -1;
    -webkit-box-align: center;
    align-items: center;
}

.lineup-container-item-container-style-applyMediumHover-left :not(:last-child) {
    margin-right: 15px;
}

.lineup-container-item-container-style-applyMediumHover-left:hover {
    opacity: 0.6;
}

.lineup-container-item-container-style-applyMediumHover-left > [class*="Image-small team-icon-small"] {
    width: 30px;
    aspect-ratio: auto 30 / 30;
    height: 30px;
}

.lineup-text {
    /* font-family: GTWalsheim-Md; */
    background-color: rgba(200, 200, 200, 1);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    font-size: 16px;
    white-space: nowrap;
}

.lineup-container-item-container-style-applyMediumHover-left h2 {
    font-size: 18px;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lineup-container-item-container-style-applyMediumHover-right {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 325px;
    order: 1;
    -webkit-box-align: center;
    align-items: center;
}

.lineup-container-item-container-style-applyMediumHover-right :not(:last-child) {
    margin-left: 15px;
}

.lineup-container-item-container-style-applyMediumHover-right:hover {
    opacity: 0.6;
}

.lineup-container-item-container-style-applyMediumHover-right > [class*="Image-small team-icon-small"] {
    width: 30px;
    aspect-ratio: auto 30 / 30;
    height: 30px;
}

.lineup-container-item-container-style-applyMediumHover-right h2 {
    font-size: 18px;
}

.lineup-title-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.lineup-title {
    font-size: 18px;
    /* font-family: GTWalsheim-Md; */
    /* color: white; */
    color: black;
}

.separator-style {
    width: 100%;
    height: 1px;
    /* background-color: rgba(51, 51, 51, 1); */
    background-color: rgba(200, 200, 200, 0.5);
}

.lineup-map-container {
    display: flex;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 550px;
    background-image: none;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    /* background-repeat-x: ;
    background-repeat-y: ; */
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    /* background-color: rgb(44, 44, 44); */
    background-color: rgba(200, 200, 200, 0.5);;
}

.lineup-goal-container-left {
    position: absolute;
    top: 36%;
    left: 0px;
    transform: translateX(-22%) rotate(-90deg);
}

.lineup-goal-container-left > svg {
    width: 276px;
    height: 154px;
}

.lineup-middle-of-field {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 6px;
    /* background-color: rgba(52, 52, 52, 1); */
    background-color: rgba(200, 200, 200, 0.5);;
}

.lineup-middle-of-field::after {
    content: " ";
    width: 150px;
    height: 150px;
    /* border-top-color: rgb(52, 52, 52); */
    border-top-style: solid;
    border-top-width: 6px;
    /* border-right-color: rgb(52, 52, 52); */
    border-right-style: solid;
    border-right-width: 6px;
    /* border-bottom-color: rgb(52, 52, 52); */
    border-bottom-style: solid;
    border-bottom-width: 6px;
    /* border-left-color: rgb(52, 52, 52); */
    border-color: rgba(200, 200, 200, 0.5);
    border-left-style: solid;
    border-left-width: 6px;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    top: calc(50% - 81px);
    left: -78px;
}

.lineup-goal-container-right {
    position: absolute;
    top: 36%;
    right: 0px;
    transform: rotate(90deg) translateY(-39%);
}

.lineup-team-container {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.lineup-team-row-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    min-width: 80px;
}

.lineup-player-container-applyMediumHover-left {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding-top: 12px;
}

.lineup-player-container-applyMediumHover-right {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding-top: 12px;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateX(-3%) translateY(-50%);
}

.lineup-player-container-applyMediumHover-left:hover {
    opacity: 0.6;
}

.lineup-player-container-applyMediumHover-right:hover {
    opacity: 0.6;
}

.lineup-player-head-container {
    position: relative;
}

.player-icon-css {
    display: flex;
    position: relative;
    box-sizing: content-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: end;
    background-color: rgba(74, 74, 74, 1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 40px;
    height: 40px;
}

.player-icon-css * {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

img.Image.PlayerImage {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
}

.lineup-player-rating-container {
    position: absolute;
    left: 27px;
    top: -8px;
}

.player-rating-styled-left {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    row-gap: 2px;
    column-gap: 2px;
    min-width: 32px;
    min-height: 21px;
    width: auto;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    background-color: rgb(240, 128, 34);
}

.player-rating-styled-right {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    row-gap: 2px;
    column-gap: 2px;
    min-width: 32px;
    min-height: 21px;
    width: auto;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    background-color: rgb(30, 200, 83);
}

.player-rating-styled-left img {
    max-height: 17px;
    max-width: 17px;
    min-width: 13px;
}

.player-rating-styled-left span {
    white-space: nowrap;
    letter-spacing: 0px;
    /* font-family: GTWalsheim-Md; */
    font-size: 13px;
    color: white;
    /* color: black; */
}

.middle-lineup-badges-container {
    position: absolute;
    bottom: 31px;
}

.lineup-missed-penalty-badge-container {
    position: absolute;
    left: 33px;
}

.bottom-right-lineup-badges-container {
    position: absolute;
    display: flex;
    bottom: -7px;
    left: 39px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.bottom-right-lineup-badges-container > * {
    margin-left: -9px;
}

.bottom-left-lineup-badges-container {
    position: absolute;
    display: flex;
    bottom: -7px;
    right: 28px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.bottom-left-lineup-badges-container > * {
    margin-left: -9px;
}

.lineup-player-text {
    margin-top: 10px;
    /* color: white; */
    color: black;
    text-align: center;
}

.lineup-player-shirt {
    color: rgba(178, 222, 206, 1) !important;
    margin-right: 10px;
}

.lineup-sub-container {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    column-gap: 2px;
    top: -23px;
    left: -6px;
}

.sub-out-text {
    color: rgba(229, 94, 91, 1) !important;
}

.player-badge-container {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /* background-color: white; */
    background-color: white;
    border-top-color: ;
    border-top-style: ;
    border-top-width: ;
    border-right-color: ;
    border-right-style: ;
    border-right-width: ;
    border-bottom-color: ;
    border-bottom-style: ;
    border-bottom-width: ;
    border-left-color: ;
    border-left-style: ;
    border-left-width: ;
    padding: 1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.lineup-card-badge-container {
    position: absolute;
    left: -10px;
}

.badge-container {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /* background-color: white; */
    background-color: white;
    border-top-color: ;
    border-top-style: ;
    border-top-width: ;
    border-right-color: ;
    border-right-style: ;
    border-right-width: ;
    border-bottom-color: ;
    border-bottom-style: ;
    border-bottom-width: ;
    border-left-color: ;
    border-left-style: ;
    border-left-width: ;
    padding-top: 1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.coaches-container-items-container-style {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    align-items: center;
}

.coach-container-item-container-style-applyMediumHover-left {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: 325px;
    order: -1;
    -webkit-box-align: center;
    align-items: center;
}

.coach-container-item-container-style-applyMediumHover-right {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 325px;
    order: 1;
    -webkit-box-align: center;
    align-items: center;
}

.coach-container-item-container-style-applyMediumHover-left:hover {
    opacity: 0.6;
}

.coach-container-item-container-style-applyMediumHover-right:hover {
    opacity: 0.6;
}

.coach-container-item-container-style-applyMediumHover-left :not(:last-child) {
    margin-right: 15px;
}

.coach-container-item-container-style-applyMediumHover-right :not(:last-child) {
    margin-left: 15px;
}

.coach-icon-css {
    display: flex;
    position: relative;
    box-sizing: content-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: end;
    background-color: rgba(74, 74, 74, 1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 30px;
    height: 30px;
}

.coach-icon-css * {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

img.Image.CoachImage {
    width: 30px;
    aspect-ratio: auto 30 / 30;
    height: 30px;
} 

.coach-container-item-container-style-applyMediumHover-left span {
    font-size: 18px;
}

.coach-container-item-container-style-applyMediumHover-right span {
    font-size: 18px;
}

.coaches-container-title {
    font-size: 18px;
    /* font-family: GTWalsheim-Md; */
    /* color: white; */
    color: black;
}

.expand-button-container {
    height: 70px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-top-style: none;
}

.expand-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 18px;
    /* font-family: GTWalsheim-Md; */
}

.expand-button-container a, .expand-button-container button {
    -webkit-text-decoration: none;
    text-decoration: none;
    /* color: white; */
    color: black;
    outline: none;
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
}

.expand-button-container button {
    appearance: button;
}

.expandable-subs-container {
    height: 100%;
    /* min-height: 841px; */
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: height;
}

.expandable-subs-container div {
    visibility: visible;
}

.benches-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* background-color: red; */
}

.bench-container {
    width: calc(50% - 20px);
    /* background-color: blue; */
    margin: 0;
    padding: 0;
}

.bench-container .bench-item:last-of-type {
    border-bottom: 0;
}

.bench-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: rgb(51, 51, 51); */
    border-bottom-color: rgba(200, 200, 200, 0.5);
    height: 60px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: match-parent;
    /* background-color: yellow; */
}

.left-bench-item-outer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.left-bench-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sub-icon-css {
    display: flex;
    position: relative;
    box-sizing: content-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: end;
    background-color: rgba(74, 74, 74, 1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.sub-icon-css * {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

img.Image.SubImage {
    width: 30px;
    aspect-ratio: auto 30 / 30;
    height: 30px;
}

.left-bench-item > [class*="sub-rating-styled"] {
    margin-right: 15px;
}

.sub-rating-styled {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    row-gap: 2px;
    column-gap: 2px;
    min-width: 32px;
    min-height: 21px;
    width: auto;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    background-color: rgb(240, 128, 34);
}

.left-bench-item > [class*="sub-rating-styled"] span {
    font-size: 14px;
}
.bench-item span {
    font-size: 16px;
    line-height: 1.13;
}

.sub-rating-styled span {
    white-space: nowrap;
    letter-spacing: 0px;
    /* font-family: GTWalsheim-Md; */
    color: white;
    /* color: black; */
}

.sub-shirt {
    color: rgba(159, 159, 159, 1) !important;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}

.right-bench-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: right;
}

.subs-badge-container {
    display: flex;
    margin-right: 20px;
}

.subs-sub-time-text {
    min-width: 21px;
    margin-right: 10px;
    color: rgba(97, 223, 110, 1) !important;
}

.right-bench-item > img {
    width: 20px;
    height: 20px;
}

.stats-title-container {
    height: 70px;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.stats-title {
    font-size: 18px;
    /* font-family: GTWalsheim-Md; */
    /* color: white; */
    color: black;
}

.stats-expandable-card-container-style {
    padding-bottom: 20px;
}

.top-stats-container-common-title-css {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    min-height: 324px;
}

.stats-possession-wheel {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.stats-possession-wheel > span:first-of-type {
    font-size: 18px;
    color: rgba(159, 159, 159, 1);
    line-height: 36px;
}

.stats-possession-wheel div:first-of-type {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    -webkit-box-align: center;
    align-items: center;
}

.stats-possession-wheel div:first-of-type img:first-of-type {
    justify-self: flex-end;
}

.stats-possession-wheel div:first-of-type img {
    margin-top: 50px;
    width: 48px;
    height: 48px;
}

img.Image.stats-team-icon {
    width: 35px;
    aspect-ratio: auto 35 / 35;
    height: 35px;
}

.stats-possession-wheel svg {
    margin-top: 44px;
    width: 200px;
    height: 200px;
}

.stats-possession-wheel div:first-of-type img:last-of-type {
    justify-self: flex-start;
}

.stats-possession-wheel div:first-of-type img {
    margin-top: 50px;
    width: 48px;
    height: 48px;
}

.stats-possession-wheel div:last-of-type {
    position: absolute;
    top: 170px;
    width: 160px;
    display: flex;
    justify-content: space-around;
}

.stats-percentage-value {
    font-size: 30px;
    /* font-family: GTWalsheim-Md; */
    /* color: rgb(255, 255, 255); */
    color: black;
}

.top-stats-container-common-title-css [class*="stat-group-container"] {
    border-left-width: 0.5px;
    border-left-style: solid;
    /* border-left-color: rgb(51, 51, 51); */
    border-left-color: rgba(200, 200, 200, 0.5);
}

.stat-group-container {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 21px;
}

.stat {
    display: grid;
    grid-template-columns: minmax(20px, 100px) 1fr minmax(20px, 100px);
    height: 46px;
    -webkit-box-align: center;
    align-items: center;
}

.stat-value-won {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /* background-color: rgb(51, 51, 51); */
    background-color: rgba(200, 200, 200, 0.5);;
    justify-self: center;
    font-size: 18px;
    /* font-family: GTWalsheim-Md; */
    letter-spacing: 0.01px;
    /* color: rgb(255, 255, 255); */
    color: black;
    white-space: nowrap;
}

.top-stats-container-common-title-css [class*="stat-default-title"] {
    font-size: 18px;
    line-height: 1.69;
    justify-self: center;
    color: rgba(159, 159, 159, 1);
}

.stat-value-title {
    /* font-family: GTWalsheim-Rg; */
    /* font-size: 14px;
    line-height: 1.57; */
    letter-spacing: 0px;
}

.stat-value-lost {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    justify-self: center;
    font-size: 18px;
    /* font-family: GTWalsheim-Md; */
    letter-spacing: 0.01px;
    white-space: nowrap;
}

.subs-badges-container {
    display: flex;
    margin-right: 20px;
}